@page
@model DemoHms.Pages.Items.ItemTypes.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Home.cshtml";
}

<h1>Create</h1>

<h4>ItemType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ItemType.Name" class="control-label"></label>
                <input asp-for="ItemType.Name" class="form-control" />
                <span asp-validation-for="ItemType.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemType.Code" class="control-label"></label>
                <input asp-for="ItemType.Code" class="form-control" />
                <span asp-validation-for="ItemType.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemType.SubGroup" class="control-label"></label>
                <input asp-for="ItemType.SubGroup" class="form-control" />
                <span asp-validation-for="ItemType.SubGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemType.RefSubGroup" class="control-label"></label>
                <input asp-for="ItemType.RefSubGroup" class="form-control" />
                <span asp-validation-for="ItemType.RefSubGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemType.CompleteName" class="control-label"></label>
                <input asp-for="ItemType.CompleteName" class="form-control" />
                <span asp-validation-for="ItemType.CompleteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemType.ItemSubGroupID" class="control-label"></label>
                <select asp-for="ItemType.ItemSubGroupID" class ="form-control" asp-items="ViewBag.ItemSubGroupID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
