@page
@model AweCoreDemo.Pages.Finance.FinanceSettings.BillItemTypes.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BillItemType</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillItemType.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillItemType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BillItemType.BillItemTypeID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
