<h2 data-u="@Url.Action("Index","DragAndDropDemo")">Drag Cards and Items</h2>
@*begin*@
<script>
    $(function () {
        awem.dragReor({ from: $('#board1 .card'), to: '#board1 .card', sel: '.item' });

        // don't drag board when mouse down on .item
        function cancel(cx) { return $(cx.e.target).closest('.item').length; }

        awem.dragReor({ from: $('#board1'), to: '#board1', sel: '.card', cancel: cancel });

        // write to log
        $('#board1').on('awedrop', function (e, data) {
            var o = $(e.target);
            var msg = name(o) + ' moved from ' + name(data.from) + ' to ' + name(o.parent()) +
                ' | previ = ' + data.previ + ' newi = ' + o.index();
            $('#logci').html(msg + '</br>');
        });

        function name(o) {
            var r = o.attr('class');
            if (o.data('k')) r += ' ' + o.data('k');
            if (o.hasClass('item')) r = o.html();
            return r;
        }
    });
</script>

<div class="board" id="board1">
    <div class="card" data-k="a">
        <div class="item">item 1</div>
        <div class="item">item 2</div>
        <div class="item">item 3</div>
    </div>

    <div class="card" data-k="b">
        <div class="item">item 4</div>
        <div class="item">item 5</div>
    </div>

    <div class="card" data-k="c">
        <div class="item">item 6</div>
        <div class="item">item 7</div>
    </div>
</div>
<br />
<br />
<div id="logci" class="log2"></div>
<style>
    .item.o-plh, .card.o-plh {
        background: #f8da4e !important;
        color: #915608 !important;
    }
</style>
@*end*@
<div class="tabs code">
    <div data-caption="view">
        @Html.Source("Shared/Demos/CardsAndItems.cshtml")
    </div>
</div>