@{
    ViewBag.Title = "Grid using Array datasource";
}
<h1>Grid using array data source</h1>
<p class="expl">In this demo you can see how an array data source can be used to provide data for the awesome grid control.</p>
@*begin*@
@Html.Awe().Grid("GridArrayData").Url(Url.Action("GridGetItems"))

<script>
    function getVal(i) {
        return function (model) {
            return model.Values[i];
        };
    }
</script>
@*end*@

<div class="tabs code">
    <div data-caption="view">
        @Html.Source("GridArrayDataSource/Index.cshtml")
    </div>
    <div data-caption="controller">
        @Html.Csource("Demos/Grid/GridArrayDataSourceController.cs")
    </div>
    <div data-caption="viewmodel">
        @Html.Csrc("ViewModels/GridArrayRow.cs")
    </div>
</div>

