@page
@model AweCoreDemo.Pages.Patients.NextOfKins.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<h1>Edit</h1>

<h4>NextOfKin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NextOfKin.NextOfKinID" />
            <div class="form-group">
                <label asp-for="NextOfKin.FirstName" class="control-label"></label>
                <input asp-for="NextOfKin.FirstName" class="form-control" />
                <span asp-validation-for="NextOfKin.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfKin.MiddleName" class="control-label"></label>
                <input asp-for="NextOfKin.MiddleName" class="form-control" />
                <span asp-validation-for="NextOfKin.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfKin.LastName" class="control-label"></label>
                <input asp-for="NextOfKin.LastName" class="form-control" />
                <span asp-validation-for="NextOfKin.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfKin.Guid" class="control-label"></label>
                <input asp-for="NextOfKin.Guid" class="form-control" />
                <span asp-validation-for="NextOfKin.Guid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfKin.Gender" class="control-label"></label>
                <input asp-for="NextOfKin.Gender" class="form-control" />
                <span asp-validation-for="NextOfKin.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfKin.DOB" class="control-label"></label>
                <input asp-for="NextOfKin.DOB" class="form-control" />
                <span asp-validation-for="NextOfKin.DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfKin.Address" class="control-label"></label>
                <input asp-for="NextOfKin.Address" class="form-control" />
                <span asp-validation-for="NextOfKin.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfKin.Tel" class="control-label"></label>
                <input asp-for="NextOfKin.Tel" class="form-control" />
                <span asp-validation-for="NextOfKin.Tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfKin.Occupation" class="control-label"></label>
                <input asp-for="NextOfKin.Occupation" class="form-control" />
                <span asp-validation-for="NextOfKin.Occupation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfKin.Country" class="control-label"></label>
                <input asp-for="NextOfKin.Country" class="form-control" />
                <span asp-validation-for="NextOfKin.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfKin.Email" class="control-label"></label>
                <input asp-for="NextOfKin.Email" class="form-control" />
                <span asp-validation-for="NextOfKin.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfKin.City" class="control-label"></label>
                <input asp-for="NextOfKin.City" class="form-control" />
                <span asp-validation-for="NextOfKin.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfKin.NOKRelationshipID" class="control-label"></label>
                <select asp-for="NextOfKin.NOKRelationshipID" class="form-control" asp-items="ViewBag.NOKRelationshipID"></select>
                <span asp-validation-for="NextOfKin.NOKRelationshipID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfKin.CreatedOn" class="control-label"></label>
                <input asp-for="NextOfKin.CreatedOn" class="form-control" />
                <span asp-validation-for="NextOfKin.CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfKin.UpdatedOn" class="control-label"></label>
                <input asp-for="NextOfKin.UpdatedOn" class="form-control" />
                <span asp-validation-for="NextOfKin.UpdatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
